body{
    margin: 0;
    padding: 0 0 70px 0;
    font-family: monospace;
    word-break: break-all;
}

button{
    padding:15px;
    background-color: transparent;
    color: #fff;
    font-family: monospace;
    font-size: 18px;
    border-radius: 3px;
    border: 5px solid #7e2464;
    outline: none;
    transition: 0.3s all linear;
}
button:hover{
    background-color: #7e2464;
    font-weight: bold;
    transition: 0.3s all linear;
    cursor: pointer;
}

.content-box{
    padding: 20px;
}

.row{
    margin:0 !important;
}

.content-inline{
    display: inline-block;
}

.shadow-bottom{
    -webkit-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
}

.hr-left{
    border-left:1px solid #fff;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.card{
    margin:0 10px 10px 0;
    border-radius: 3px;
    overflow: hidden;
    font-family: monospace;
    border: 5px solid transparent;
    transition: 0.2s all linear;
}
.card:hover{
    transition: 0.2s all linear;
    border: 5px solid #0099ff;
    cursor: pointer;
}

.full-width{
    width: 100%;
}

.relative{
    position: relative;
}

#bottomBar{
    position:fixed;
    z-index: 10;
    width: 100%;
    bottom:0;
}

.bottom-block{
    margin-right: 30px;
}

#contentBoxModal{
    position:fixed;
    z-index: 10;
    width: 100%;
    background-color: #121212;
    padding: 20px;
    display: none;
}

#contentBoxCloseBtn{
    width: 100px;
    height: 100px;
    position: fixed;
    margin-top:10px;
    right:10px;
}